@media only screen and (max-width: 900px){
    body {
        background-image: url('img/backgroundMobile.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 52% 45%;
        left: 0;
    }
}
