/* Navigation */

nav {
    height: 8%;
    background: rgba(255, 255, 255, .9);
    width: 100%;
    margin: 0;
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    padding: 0;
}

nav a{
    padding: 0 32px;
    color: #202125;
    transition: 0.4s;
}

nav a:hover{
    text-decoration: none;
    color: #6ddfdf;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: auto;
} 

.active {
    color: #ff97c5;
}

#logoItem {
	padding: 30px 70px 30px 70px;
	list-style: none;
	background-image: url("img/ewclogo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75px;
}

header {
    background-image: url('img/escapewcate.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0 0 60%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.about {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: -3;
}
.about_title_box {
    position: absolute;
    width: 100%;
    margin-top:5%;
    padding: 0;
    z-index: 3;
    display: grid;
}
.about_title {
    color: #f888c7;
    font-family: 'Beautiful Bloom', sans-serif;
    font-size: 70pt;
    grid-area: 1 / 1;
    margin-top: 30px;
    margin-left: -30px;
}
.about_wave_mobile {
    margin-left: 20px;
    grid-area: 1 / 1;
}

.aboutPhotos {
    margin-top: 130px;
}
.about_background_mobile {
    display: inline-block;
    position: relative;
}
.about_me_mobile {
    margin-top: -90%;
    position: relative;
    margin-left: 20px;
}
.about_me_text {
    margin-top: 10%;
    position: relative;
    font-size: 15pt;
}

.about_sakura_mobile {
    position: relative;
}

.about_wave {
    margin-left: 270px;
    grid-area: 1 / 1;
    margin-top: 90px;
}
.about_background {
    display: inline-block;
    position: relative;
}
.about_me {
    margin-top: -370px;
    position: relative;
    margin-left: 12%;
}

.sakura {

    margin-top: 30px;
}

.follow_along {

}

.headings {
    font-family: 'Beautiful Bloom', sans-serif;
    margin: 0;
    font-size: 70pt;
}

#follow {
    color: #6ddfdf;
    text-align: center;
    margin-top: 50px;
}

#insta {
    font-family: 'Quicksand';
    font-size: 20px;
    color: #f888c7;
    text-align: center;
    opacity: 0.7;
    margin-top: -12%;
}

.instaGrid {
    padding: 0;
}

.grid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-between;
}

.cell {
    width: 32%;
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
    background-color: #999;
}

#swing.cell  {
    background-image: url('img/swing.jpg');
    background-size: cover;
}
#bali.cell {
    background-image: url('img/bali.jpg');
    background-size: cover;
}
#surf.cell {
    background-image: url('img/surf.jpg');
    background-size: cover;
}
#hotspring.cell {
    background-image: url('img/hotspring.jpg');
    background-size: cover;
}
#hydrangea.cell {
    background-image: url('img/hydrangea.jpg');
    background-size: cover;
}
#ocean.cell {
    background-image: url('img/ocean.jpg');
    background-size: cover;
}
#hb.cell {
    background-image: url('img/hb.jpg');
    background-size: cover;
}
#waterfall.cell {
    background-image: url('img/waterfall.jpg');
    background-size: cover;
}
#flowers.cell {
    background-image: url('img/flowers.jpg');
    background-size: cover;
}

.scrolling-wrapper-flexbox {
    display: flex;
    overflow-x: auto;
    align-items: center;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
}
  
.card {
    flex: 0 0 auto;
    border: 2px solid;
    border-radius: 10px;
    border-color: #6ddfdf;
    margin-top: 80px;
    transition: all 0.2s ease-in-out !important;
    margin-right: 30px;
}

.cardText {
    color: #f888c7;
    font-family: 'Beautiful Bloom', sans-serif;
    font-size: 70pt;
    position: relative;
    z-index: 2;
    margin-top: -20%;
    text-align: center;
}

/* Footer */
footer {
    background: #f8f2fd;
    padding-top: 10%;
    display: flex;
}

footer #left-footer{
    flex: 1;
    border-right: 1px solid #6ddfdf;
}

footer #left-footer ul{
    padding: 0;
    list-style: none;
    line-height: 1.5;
}

footer #right-footer{
    flex: 2;
    padding: 8px;
    text-align: center;
}

footer #social-media-footer a .fa-instagram,
footer #social-media-footer a .fa-youtube,
footer #social-media-footer a .fa-github{
    transition: 0.4s;
}

footer #social-media-footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

footer #social-media-footer ul li{
    font-size: 48px;
    padding: 16px;
    transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-instagram{
    color: pink;
}

footer #social-media-footer ul li:hover a .fa-youtube{
    color: red;
}

footer #social-media-footer ul li:hover a .fa-github{
    color: #bbb;
}

footer{
    flex-direction: column;
    text-align: center;
}
footer #left-footer {
    flex:1;
    border-right: 0;
    border-left: 0;
}
footer #right-footer {
    color: black;
}
footer #right-footer a{
    color: black;
}
footer #social-media-footer a .fa-instagram,
footer #social-media-footer a .fa-youtube,
footer #social-media-footer a .fa-github{
    color: black;
    transition: 0.4s;
}


@media only screen and (max-width: 900px){
    body {
        background-image: url('img/backgroundMobile.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 52% 45%;
        left: 0;
    }

    .navbar {
        padding: 0;
    }
    nav ul {
	    padding-bottom: 10px;
    }
}

@media only screen and (min-width: 720px){
    nav {
        height: 9.5%;
        float: left;
    }
    #logoItem {
        padding: 36px 70px 36px 70px;
        background-size: 90px;
    }
    header {
        padding: 0 0 52%;
    }
    .navbar {
        position: fixed;
    }
    .about {
        background-image: url('img/PeachBackground.png');
        background-repeat: repeat-x;
        background-size: auto 50%;
    }
    .about_title {
        font-size: 120pt;
        margin-left: 120px;
        margin-top: 70px;
    }
    .follow_along {
        height: 1400px;
        background-image: url('img/greenDot.png');
        background-repeat: no-repeat;
        background-position: 0% 45%;
        left: 0;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: none;
    }
}